html, body, main{
	background-color: #000000;
}

.fullscreen-bg {
	position: fixed;
    z-index: 100;
}

.fullscreen-bg__video {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
}